<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>116035863484-9vqpm44rcn383afb2oaer01hvu5oes9t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.116035863484-9vqpm44rcn383afb2oaer01hvu5oes9t</string>
	<key>API_KEY</key>
	<string>AIzaSyAvHYXY3TZcFpcx8IjHfvlr_LbLWd-EHWA</string>
	<key>GCM_SENDER_ID</key>
	<string>116035863484</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yuri.soccerTeams</string>
	<key>PROJECT_ID</key>
	<string>soccer-teams-6cc28</string>
	<key>STORAGE_BUCKET</key>
	<string>soccer-teams-6cc28.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:116035863484:ios:868b8b92397086fe59a1b9</string>
	<key>DATABASE_URL</key>
	<string>https://soccer-teams-6cc28.firebaseio.com</string>
</dict>
</plist>